
/****************** Header ******************/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    color: #fff;
    /* transition: all .3s ease-in-out; */
    border-bottom: 1px solid rgb(255, 0, 0, 0.5);
}
#header .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 15px 30px;
}
#header .header_wrapper .header_content {
    display: flex;
    overflow: hidden;
}
.header_content .logo { 
    display: block;
    padding: 0px 20px;
}
.header_content .logo a{
    width: 85px;
}
#header.menu_on {
    color: #000;
}
#header.menu_on .header_wrapper{
    position: relative;
    background: #fff;
}
#header.menu_on .gnb .gnb_list{
    text-align: left;
}
#header.menu_on .gnb .gnb_list a{
    font-weight: 300;
}
/* #header.menu_on .gnb .gnb_list .lnb {
    display: block;
} */
#header.menu_on .menu .menu_wrapper li a img {
    filter: brightness(0.1);
}

.gnb .gnb_wrapper {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.gnb .gnb_wrapper .gnb_list {
    position: relative;
    text-align: center;
}

.gnb .gnb_wrapper .gnb_list a {
    position: relative;
    display: block;
    padding: 5px 30px;
    text-align: center;
}

.gnb .gnb_wrapper .gnb_list > a {
    width: auto;
    padding: 10px 30px;
}

.gnb_list .lnb {
    position: relative;
    display: none;
}
.gnb_list .lnb .lnb_over a{
    font-size: 14px;
    display: flex;
} 

.menu .menu_wrapper{
    display: flex;
    align-items: center;
    height: 46px;
}
.menu .menu_wrapper li {
    width: 40px;
    overflow: hidden;
    margin-right: 5px;
}
.menu .menu_wrapper li a{
    position: relative;
    display: block;
    width: 100%;
}

/* 
.container .contents .main .banner {
    position: relative;
    height: 100%;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}
.container .contents .main .banner .banner_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.container .contents .main .banner .banner_wrapper .banner_list {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}
.banner_list img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* html,
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper_layout {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 1;
  }
  
  .swiper_layout .swiper-button-prev {
      left: 0;
      width: 20px;
      height: auto;
      margin: 0;
      transform: translateY(-50%);
      padding: 20px;
  }
  .swiper_layout .swiper-button-next {
      right: 0;
      width: 20px;
      height: auto;
      margin: 0;
      transform: translateY(-50%);
      padding: 20px;
  }

  .swiper-pagination span{
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      transform: scaleX(0.2) scaleY(1);
} */

.main .video {
    text-align: center;
    background: linear-gradient(to bottom, #f2f2f2 70%, #fff);
    padding-top: 200px;
}

.video .slogan h1 {
    font-size: 80px;
    font-weight: 100;
}
.video .video_wrapper {
    padding-top: 100px;
    aspect-ratio: 1920/600;
}
.video .video_wrapper iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.video .scroll_wrapper {
    margin-top: 150px;
    position: relative;
}
.video .scroll_wrapper .back_text {
    color:rgb(211, 122, 122, 0.1);
    text-align: right;
    font-size: 110px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(-75%);
}

.video .scroll_wrapper .scroll {
    margin: 0 auto;
    transform: translate(0,0);
    transition: transform .7s ease, opacity .7s ease;
}
.video .scroll_wrapper .scroll span {
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 2;
    opacity: 0.2;
}
.video .scroll_wrapper .scroll .prev{
    position: relative;
}
.video .scroll_wrapper .scroll .ani {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    transition: all 2s linear;
}

.main .about {
    width: 100%;
    position: relative;
    padding: 100px 50px 0;
    margin: 200px auto 0;
    /* background: #f2f2f2; */

}
.about .sub_title {
    display: flex;
    align-items: center;
}
.about .sub_title .title_num {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
}
.about .sub_title .bar {
    width: 70px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}
.about .sub_title .title_name {
    font-size: 18px;
    font-family: 'InstumentSans', sans-serif;
}
.about .swipe {
    margin-top: 18px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    z-index: 1;
}
.about .swipe .swipe-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.about .swipe .swipe-wrapper .tech {
    display: flex;
    justify-content: space-between;
    /* opacity: 0 !important; */
}
.about .swipe .swipe-wrapper .tech .text_box .main_text{
    margin-top: 20px;
    font-size: 20px;
    /* text-transform: capitalize; */
    line-height: 1.2;
}