
/****************** Header ******************/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: #cfcfcf;
    color: #fff;
    /* transition: all .3s ease-in-out; */
    border-bottom: 1px solid rgb(255, 0, 0, 0.5);
}
#header .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 30px;
}
#header .header_wrapper .header_content {
    display: flex;
    overflow: hidden;
}
.header_content .logo { 
    display: block;
    padding: 0px 20px;
}
.header_content .logo a{
    width: 85px;
}
#header.menu_on {
    color: #000;
}
#header.menu_on .header_wrapper{
    position: relative;
    background: #fff;
    /* padding-bottom: 0; */
}
#header.menu_on .gnb .gnb_list{
    text-align: left;
}
#header.menu_on .gnb .gnb_list a{
    font-weight: 300;
}
#header.menu_on .gnb .gnb_list .lnb {
    /* display: block; */
}
#header.menu_on .menu .menu_wrapper li a img {
    -webkit-filter: brightness(0.1);
}

.gnb .gnb_wrapper {
    display: flex;
    align-items: flex-start;
    height: 100%;
}
.gnb .gnb_wrapper .gnb_list {
    position: relative;
    text-align: center;
}

.gnb .gnb_wrapper .gnb_list a {
    position: relative;
    display: block;
    padding: 5px 30px;
    /* font-size: 20px; */
    text-align: center;
}

.gnb .gnb_wrapper .gnb_list > a {
    width: auto;
    padding: 10px 30px;
}

.gnb_list .lnb {
    position: relative;
    display: none;
}
.gnb_list .lnb .lnb_over a{
    font-size: 14px;
    display: flex;
} 

.menu .menu_wrapper{
    display: flex;
    align-items: center;
    height: 46px;
}
.menu .menu_wrapper li {
    width: 40px;
    overflow: hidden;
    margin-right: 5px;
}
.menu .menu_wrapper li a{
    position: relative;
    display: block;
    width: 100%;
}

.container .contents .main .section_banner .banner_wrapper {
    width: 100vw;
}